In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("Luxury_Housing_Bangalore.csv")

In [7]:
df.head()

,Property_ID,Micro_Market,Project_Name,Developer_Name,Unit_Size_Sqft,Configuration,Ticket_Price_Cr,Transaction_Type,Buyer_Type,Purchase_Quarter,Connectivity_Score,Amenity_Score,Possession_Status,Sales_Channel,NRI_Buyer,Locality_Infra_Score,Avg_Traffic_Time_Min,Buyer_Comments
0,PROP000001,Sarjapur Road,Project_0,RMZ,4025.0,4bhk,12.750846039118798,Primary,NRI,2025-03-31,7.990091,5.462863,Launch,Broker,yes,9.212491,18,Loved the amenities!
1,PROP000002,Indiranagar,Project_1,Puravankara,5760.0,3Bhk,16.292151871065954,Primary,Other,2024-06-30,4.839024,NaN,Under construction,NRI Desk,no,7.723898,106,NaN
2,PROP000003,Bannerghatta Road,Project_2,Tata Housing,7707.0,4bhk,10.517724412961911,Primary,HNI,2023-12-31,8.131315,8.669227,Ready to move,Direct,yes,6.985493,113,Agent was not responsive.
3,PROP000004,bellary road,Project_3,Embassy,6192.0,3BHK,9.396367494232896,Primary,HNI,2024-03-31,7.501657,5.720246,Ready to move,Online,yes,6.100929,106,Excellent location!
4,PROP000005,Koramangala,Project_4,SNN Raj,7147.0,4Bhk,15.345392444511946,Secondary,HNI,2024-12-31,4.525216,8.609649,Under construction,Broker,no,5.312510,18,Too far from my office.

In [10]:
df.columns = df.columns.str.strip().str.lower()

In [11]:
df.head()

,property_id,micro_market,project_name,developer_name,unit_size_sqft,configuration,ticket_price_cr,transaction_type,buyer_type,purchase_quarter,connectivity_score,amenity_score,possession_status,sales_channel,nri_buyer,locality_infra_score,avg_traffic_time_min,buyer_comments
0,PROP000001,Sarjapur Road,Project_0,RMZ,4025.0,4bhk,12.750846039118798,Primary,NRI,2025-03-31,7.990091,5.462863,Launch,Broker,yes,9.212491,18,Loved the amenities!
1,PROP000002,Indiranagar,Project_1,Puravankara,5760.0,3Bhk,16.292151871065954,Primary,Other,2024-06-30,4.839024,NaN,Under construction,NRI Desk,no,7.723898,106,NaN
2,PROP000003,Bannerghatta Road,Project_2,Tata Housing,7707.0,4bhk,10.517724412961911,Primary,HNI,2023-12-31,8.131315,8.669227,Ready to move,Direct,yes,6.985493,113,Agent was not responsive.
3,PROP000004,bellary road,Project_3,Embassy,6192.0,3BHK,9.396367494232896,Primary,HNI,2024-03-31,7.501657,5.720246,Ready to move,Online,yes,6.100929,106,Excellent location!
4,PROP000005,Koramangala,Project_4,SNN Raj,7147.0,4Bhk,15.345392444511946,Secondary,HNI,2024-12-31,4.525216,8.609649,Under construction,Broker,no,5.312510,18,Too far from my office.

In [12]:
df['micro_market'].value_counts()

micro_market
Jayanagar            2176
Jp Nagar             2167
Bannerghatta Road    2164
jp nagar             2163
mg road              2160
domlur               2156
sarjapur road        2152
indiranagar          2149
bannerghatta road    2149
SARJAPUR ROAD        2149
WHITEFIELD           2146
Sarjapur Road        2134
jayanagar            2131
bellary road         2122
JAYANAGAR            2120
yelahanka            2119
MG ROAD              2118
Yelahanka            2114
BANNERGHATTA ROAD    2114
JP NAGAR             2111
Electronic City      2110
Kanakapura Road      2108
kanakapura road      2106
hennur road          2105
RAJAJINAGAR          2105
Whitefield           2104
Hebbal               2102
ELECTRONIC CITY      2094
Indiranagar          2093
whitefield           2090
rajajinagar          2087
Rajajinagar          2082
INDIRANAGAR          2081
Hennur Road          2081
HEBBAL               2080
Bellary Road         2080
KANAKAPURA ROAD      2078
BELLARY ROAD         2075
KORAMANGALA          2075
Mg Road              2069
electronic city      2069
DOMLUR               2066
YELAHANKA            2057
hebbal               2053
Koramangala          2043
koramangala          2035
HENNUR ROAD          2030
Domlur               2028
Name: count, dtype: int64

In [14]:
df['micro_market'] = df['micro_market'].str.title()

In [15]:
df['micro_market'].value_counts()

micro_market
Jp Nagar             6441
Sarjapur Road        6435
Bannerghatta Road    6427
Jayanagar            6427
Mg Road              6347
Whitefield           6340
Indiranagar          6323
Kanakapura Road      6292
Yelahanka            6290
Bellary Road         6277
Rajajinagar          6274
Electronic City      6273
Domlur               6250
Hebbal               6235
Hennur Road          6216
Koramangala          6153
Name: count, dtype: int64

In [16]:
df['developer_name'].value_counts()

developer_name
Prestige             9318
SNN Raj              9309
Brigade              9240
L&T Realty           9225
Godrej               9215
Total Environment    9209
Puravankara          9166
Embassy              9164
RMZ                  9092
Sobha                9043
Tata Housing         9019
Name: count, dtype: int64

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101000 entries, 0 to 100999
Data columns (total 18 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   property_id           101000 non-null  object
 1   micro_market          101000 non-null  object
 2   project_name          101000 non-null  object
 3   developer_name        101000 non-null  object
 4   unit_size_sqft        90954 non-null   float64
 5   configuration         101000 non-null  object
 6   ticket_price_cr       90981 non-null   object
 7   transaction_type      101000 non-null  object
 8   buyer_type            101000 non-null  object
 9   purchase_quarter      101000 non-null  object
 10  connectivity_score    101000 non-null  float64
 11  amenity_score         90910 non-null   float64
 12  possession_status     101000 non-null  object
 13  sales_channel         101000 non-null  object
 14  nri_buyer             101000 non-null  object
 15  locality_infra_score  101000 non-null  float64
 16  avg_traffic_time_min  101000 non-null  int64
 17  buyer_comments        82713 non-null   object
dtypes: float64(4), int64(1), object(13)
memory usage: 13.9+ MB

In [21]:
df['configuration'] = df['configuration'].str.upper()

In [22]:
df['configuration'].value_counts()

configuration
5BHK+    33876
3BHK     33730
4BHK     33394
Name: count, dtype: int64

In [23]:
df.head(10)

,property_id,micro_market,project_name,developer_name,unit_size_sqft,configuration,ticket_price_cr,transaction_type,buyer_type,purchase_quarter,connectivity_score,amenity_score,possession_status,sales_channel,nri_buyer,locality_infra_score,avg_traffic_time_min,buyer_comments
0,PROP000001,Sarjapur Road,Project_0,RMZ,4025.0,4BHK,12.750846039118798,Primary,NRI,2025-03-31,7.990091,5.462863,Launch,Broker,yes,9.212491,18,Loved the amenities!
1,PROP000002,Indiranagar,Project_1,Puravankara,5760.0,3BHK,16.292151871065954,Primary,Other,2024-06-30,4.839024,NaN,Under construction,NRI Desk,no,7.723898,106,NaN
2,PROP000003,Bannerghatta Road,Project_2,Tata Housing,7707.0,4BHK,10.517724412961911,Primary,HNI,2023-12-31,8.131315,8.669227,Ready to move,Direct,yes,6.985493,113,Agent was not responsive.
3,PROP000004,Bellary Road,Project_3,Embassy,6192.0,3BHK,9.396367494232896,Primary,HNI,2024-03-31,7.501657,5.720246,Ready to move,Online,yes,6.100929,106,Excellent location!
4,PROP000005,Koramangala,Project_4,SNN Raj,7147.0,4BHK,15.345392444511946,Secondary,HNI,2024-12-31,4.525216,8.609649,Under construction,Broker,no,5.312510,18,Too far from my office.
5,PROP000006,Yelahanka,Project_5,Brigade,4290.0,4BHK,₹9.82 Cr,Secondary,HNI,2023-09-30,7.936068,NaN,Launch,Online,no,5.154027,16,Underpriced for location.
6,PROP000007,Bannerghatta Road,Project_6,Prestige,6776.0,5BHK+,10.896752354445224,Secondary,Other,2025-03-31,8.643117,8.355238,Under construction,Direct,no,9.791550,74,Too far from my office.
7,PROP000008,Whitefield,Project_7,Total Environment,5763.0,3BHK,9.357538943683888,Secondary,NRI,2025-03-31,6.781306,9.565013,Under construction,Direct,yes,9.054713,31,NaN
8,PROP000009,Sarjapur Road,Project_8,Prestige,5815.0,3BHK,12.299449409872416,Secondary,Other,2024-03-31,7.284164,5.580442,Under construction,NRI Desk,yes,8.552046,68,NaN
9,PROP000010,Jp Nagar,Project_9,Puravankara,8675.0,4BHK,9.193310278863123,Primary,CXO,2023-09-30,9.964399,7.759907,Launch,Direct,yes,8.395691,18,Too far from my office.

In [27]:
df['ticket_price_cr'] = df['ticket_price_cr'].str.replace('₹','').str.replace('Cr','').str.strip()

In [28]:
df.head(10)

,property_id,micro_market,project_name,developer_name,unit_size_sqft,configuration,ticket_price_cr,transaction_type,buyer_type,purchase_quarter,connectivity_score,amenity_score,possession_status,sales_channel,nri_buyer,locality_infra_score,avg_traffic_time_min,buyer_comments
0,PROP000001,Sarjapur Road,Project_0,RMZ,4025.0,4BHK,12.750846039118798,Primary,NRI,2025-03-31,7.990091,5.462863,Launch,Broker,yes,9.212491,18,Loved the amenities!
1,PROP000002,Indiranagar,Project_1,Puravankara,5760.0,3BHK,16.292151871065954,Primary,Other,2024-06-30,4.839024,NaN,Under construction,NRI Desk,no,7.723898,106,NaN
2,PROP000003,Bannerghatta Road,Project_2,Tata Housing,7707.0,4BHK,10.517724412961911,Primary,HNI,2023-12-31,8.131315,8.669227,Ready to move,Direct,yes,6.985493,113,Agent was not responsive.
3,PROP000004,Bellary Road,Project_3,Embassy,6192.0,3BHK,9.396367494232896,Primary,HNI,2024-03-31,7.501657,5.720246,Ready to move,Online,yes,6.100929,106,Excellent location!
4,PROP000005,Koramangala,Project_4,SNN Raj,7147.0,4BHK,15.345392444511946,Secondary,HNI,2024-12-31,4.525216,8.609649,Under construction,Broker,no,5.312510,18,Too far from my office.
5,PROP000006,Yelahanka,Project_5,Brigade,4290.0,4BHK,9.82,Secondary,HNI,2023-09-30,7.936068,NaN,Launch,Online,no,5.154027,16,Underpriced for location.
6,PROP000007,Bannerghatta Road,Project_6,Prestige,6776.0,5BHK+,10.896752354445224,Secondary,Other,2025-03-31,8.643117,8.355238,Under construction,Direct,no,9.791550,74,Too far from my office.
7,PROP000008,Whitefield,Project_7,Total Environment,5763.0,3BHK,9.357538943683888,Secondary,NRI,2025-03-31,6.781306,9.565013,Under construction,Direct,yes,9.054713,31,NaN
8,PROP000009,Sarjapur Road,Project_8,Prestige,5815.0,3BHK,12.299449409872416,Secondary,Other,2024-03-31,7.284164,5.580442,Under construction,NRI Desk,yes,8.552046,68,NaN
9,PROP000010,Jp Nagar,Project_9,Puravankara,8675.0,4BHK,9.193310278863123,Primary,CXO,2023-09-30,9.964399,7.759907,Launch,Direct,yes,8.395691,18,Too far from my office.

In [30]:
df['ticket_price_cr'] = pd.to_numeric(df['ticket_price_cr'])

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101000 entries, 0 to 100999
Data columns (total 18 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   property_id           101000 non-null  object
 1   micro_market          101000 non-null  object
 2   project_name          101000 non-null  object
 3   developer_name        101000 non-null  object
 4   unit_size_sqft        90954 non-null   float64
 5   configuration         101000 non-null  object
 6   ticket_price_cr       90981 non-null   float64
 7   transaction_type      101000 non-null  object
 8   buyer_type            101000 non-null  object
 9   purchase_quarter      101000 non-null  object
 10  connectivity_score    101000 non-null  float64
 11  amenity_score         90910 non-null   float64
 12  possession_status     101000 non-null  object
 13  sales_channel         101000 non-null  object
 14  nri_buyer             101000 non-null  object
 15  locality_infra_score  101000 non-null  float64
 16  avg_traffic_time_min  101000 non-null  int64
 17  buyer_comments        82713 non-null   object
dtypes: float64(5), int64(1), object(12)
memory usage: 13.9+ MB

In [34]:
df.tail(10)

,property_id,micro_market,project_name,developer_name,unit_size_sqft,configuration,ticket_price_cr,transaction_type,buyer_type,purchase_quarter,connectivity_score,amenity_score,possession_status,sales_channel,nri_buyer,locality_infra_score,avg_traffic_time_min,buyer_comments
100990,PROP037507,Indiranagar,Project_6,Tata Housing,3906.0,4BHK,18.149767,Primary,CXO,2024-12-31,6.821618,5.912259,Launch,NRI Desk,no,8.021260,29,Excellent location!
100991,PROP090647,Indiranagar,Project_146,Puravankara,6483.0,5BHK+,7.891416,Primary,Other,2023-06-30,5.577448,5.504678,Under construction,Online,no,6.753134,67,Great value for money.
100992,PROP064846,Kanakapura Road,Project_345,Prestige,NaN,3BHK,12.467955,Secondary,HNI,2023-12-31,6.047293,9.163434,Launch,Broker,no,7.544191,78,Excellent location!
100993,PROP024883,Jp Nagar,Project_382,Godrej,5538.0,3BHK,70.000000,Secondary,HNI,2023-12-31,5.373264,6.024396,Ready to move,Online,yes,6.154990,55,Underpriced for location.
100994,PROP049697,Mg Road,Project_196,Tata Housing,6897.0,4BHK,NaN,Secondary,HNI,2024-06-30,7.420974,5.015727,Launch,Broker,yes,8.716447,25,Excellent location!
100995,PROP004730,Bellary Road,Project_229,Embassy,8546.0,5BHK+,11.330810,Secondary,CXO,2024-12-31,8.552797,6.221131,Under construction,NRI Desk,no,7.511827,22,Will buy after possession.
100996,PROP059810,Bellary Road,Project_309,Brigade,3408.0,3BHK,10.829373,Primary,CXO,2024-09-30,6.879269,9.783611,Ready to move,Direct,no,9.851849,26,Agent was not responsive.
100997,PROP065099,Hennur Road,Project_98,RMZ,4691.0,4BHK,11.183303,Primary,NRI,2023-12-31,6.753812,8.383013,Under construction,Broker,no,9.101604,44,Loved the amenities!
100998,PROP093022,Rajajinagar,Project_21,Embassy,7435.0,3BHK,10.914156,Secondary,Other,2024-06-30,4.437787,5.756247,Under construction,Broker,yes,8.588551,66,Excellent location!
100999,PROP023826,Whitefield,Project_325,L&T Realty,3218.0,4BHK,13.270000,Primary,Startup Founder,2023-12-31,7.760416,9.989290,Under construction,Direct,yes,9.917647,58,Loved the amenities!

In [39]:
df['nri_buyer'].value_counts()

nri_buyer
no     50516
yes    50484
Name: count, dtype: int64

In [40]:
df['purchase_quarter'] = pd.to_datetime(df['purchase_quarter'])

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101000 entries, 0 to 100999
Data columns (total 18 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   property_id           101000 non-null  object
 1   micro_market          101000 non-null  object
 2   project_name          101000 non-null  object
 3   developer_name        101000 non-null  object
 4   unit_size_sqft        90954 non-null   float64
 5   configuration         101000 non-null  object
 6   ticket_price_cr       90981 non-null   float64
 7   transaction_type      101000 non-null  object
 8   buyer_type            101000 non-null  object
 9   purchase_quarter      101000 non-null  datetime64[ns]
 10  connectivity_score    101000 non-null  float64
 11  amenity_score         90910 non-null   float64
 12  possession_status     101000 non-null  object
 13  sales_channel         101000 non-null  object
 14  nri_buyer             101000 non-null  object
 15  locality_infra_score  101000 non-null  float64
 16  avg_traffic_time_min  101000 non-null  int64
 17  buyer_comments        82713 non-null   object
dtypes: datetime64[ns](1), float64(5), int64(1), object(11)
memory usage: 13.9+ MB

In [42]:
df['year'] = df['purchase_quarter'].dt.year
df['quarter'] = df['purchase_quarter'].dt.to_period('Q').astype(str)

In [43]:
df.head()

,property_id,micro_market,project_name,developer_name,unit_size_sqft,configuration,ticket_price_cr,transaction_type,buyer_type,purchase_quarter,connectivity_score,amenity_score,possession_status,sales_channel,nri_buyer,locality_infra_score,avg_traffic_time_min,buyer_comments,year,quarter
0,PROP000001,Sarjapur Road,Project_0,RMZ,4025.0,4BHK,12.750846,Primary,NRI,2025-03-31,7.990091,5.462863,Launch,Broker,yes,9.212491,18,Loved the amenities!,2025,2025Q1
1,PROP000002,Indiranagar,Project_1,Puravankara,5760.0,3BHK,16.292152,Primary,Other,2024-06-30,4.839024,NaN,Under construction,NRI Desk,no,7.723898,106,NaN,2024,2024Q2
2,PROP000003,Bannerghatta Road,Project_2,Tata Housing,7707.0,4BHK,10.517724,Primary,HNI,2023-12-31,8.131315,8.669227,Ready to move,Direct,yes,6.985493,113,Agent was not responsive.,2023,2023Q4
3,PROP000004,Bellary Road,Project_3,Embassy,6192.0,3BHK,9.396367,Primary,HNI,2024-03-31,7.501657,5.720246,Ready to move,Online,yes,6.100929,106,Excellent location!,2024,2024Q1
4,PROP000005,Koramangala,Project_4,SNN Raj,7147.0,4BHK,15.345392,Secondary,HNI,2024-12-31,4.525216,8.609649,Under construction,Broker,no,5.312510,18,Too far from my office.,2024,2024Q4

In [46]:
df.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
100995     True
100996     True
100997     True
100998     True
100999     True
Length: 101000, dtype: bool

In [50]:
df[df['property_id']=='PROP093022']

,property_id,micro_market,project_name,developer_name,unit_size_sqft,configuration,ticket_price_cr,transaction_type,buyer_type,purchase_quarter,connectivity_score,amenity_score,possession_status,sales_channel,nri_buyer,locality_infra_score,avg_traffic_time_min,buyer_comments,year,quarter
93021,PROP093022,Rajajinagar,Project_21,Embassy,7435.0,3BHK,10.914156,Secondary,Other,2024-06-30,4.437787,5.756247,Under construction,Broker,yes,8.588551,66,Excellent location!,2024,2024Q2
100998,PROP093022,Rajajinagar,Project_21,Embassy,7435.0,3BHK,10.914156,Secondary,Other,2024-06-30,4.437787,5.756247,Under construction,Broker,yes,8.588551,66,Excellent location!,2024,2024Q2

In [53]:
df.drop_duplicates(inplace=True)

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100000 entries, 0 to 99999
Data columns (total 20 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   property_id           100000 non-null  object
 1   micro_market          100000 non-null  object
 2   project_name          100000 non-null  object
 3   developer_name        100000 non-null  object
 4   unit_size_sqft        90043 non-null   float64
 5   configuration         100000 non-null  object
 6   ticket_price_cr       90087 non-null   float64
 7   transaction_type      100000 non-null  object
 8   buyer_type            100000 non-null  object
 9   purchase_quarter      100000 non-null  datetime64[ns]
 10  connectivity_score    100000 non-null  float64
 11  amenity_score         90000 non-null   float64
 12  possession_status     100000 non-null  object
 13  sales_channel         100000 non-null  object
 14  nri_buyer             100000 non-null  object
 15  locality_infra_score  100000 non-null  float64
 16  avg_traffic_time_min  100000 non-null  int64
 17  buyer_comments        81901 non-null   object
 18  year                  100000 non-null  int32
 19  quarter               100000 non-null  object
dtypes: datetime64[ns](1), float64(5), int32(1), int64(1), object(12)
memory usage: 15.6+ MB

In [55]:
df['bhk_count']=df['configuration'].str[0].astype(int)

In [57]:
df['bhk_count'].value_counts()

bhk_count
5    33536
3    33377
4    33087
Name: count, dtype: int64

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100000 entries, 0 to 99999
Data columns (total 21 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   property_id           100000 non-null  object
 1   micro_market          100000 non-null  object
 2   project_name          100000 non-null  object
 3   developer_name        100000 non-null  object
 4   unit_size_sqft        90043 non-null   float64
 5   configuration         100000 non-null  object
 6   ticket_price_cr       90087 non-null   float64
 7   transaction_type      100000 non-null  object
 8   buyer_type            100000 non-null  object
 9   purchase_quarter      100000 non-null  datetime64[ns]
 10  connectivity_score    100000 non-null  float64
 11  amenity_score         90000 non-null   float64
 12  possession_status     100000 non-null  object
 13  sales_channel         100000 non-null  object
 14  nri_buyer             100000 non-null  object
 15  locality_infra_score  100000 non-null  float64
 16  avg_traffic_time_min  100000 non-null  int64
 17  buyer_comments        81901 non-null   object
 18  year                  100000 non-null  int32
 19  quarter               100000 non-null  object
 20  bhk_count             100000 non-null  int64
dtypes: datetime64[ns](1), float64(5), int32(1), int64(2), object(12)
memory usage: 16.4+ MB

In [59]:
df[df['unit_size_sqft']==-1]

,property_id,micro_market,project_name,developer_name,unit_size_sqft,configuration,ticket_price_cr,transaction_type,buyer_type,purchase_quarter,...,amenity_score,possession_status,sales_channel,nri_buyer,locality_infra_score,avg_traffic_time_min,buyer_comments,year,quarter,bhk_count
145,PROP000146,Bellary Road,Project_145,Puravankara,-1.0,3BHK,9.094891,Secondary,Startup Founder,2024-03-31,...,7.824742,Ready to move,Direct,yes,6.690428,78,Loved the amenities!,2024,2024Q1,3
238,PROP000239,Koramangala,Project_238,Sobha,-1.0,5BHK+,11.065758,Secondary,Other,2024-06-30,...,NaN,Ready to move,Broker,yes,5.698885,43,Too far from my office.,2024,2024Q2,5
244,PROP000245,Sarjapur Road,Project_244,L&T Realty,-1.0,5BHK+,18.426594,Secondary,Startup Founder,2023-09-30,...,7.885277,Under construction,Online,yes,5.766082,102,Connectivity is poor.,2023,2023Q3,5
289,PROP000290,Yelahanka,Project_289,Sobha,-1.0,4BHK,12.199936,Secondary,CXO,2024-06-30,...,6.825103,Ready to move,NRI Desk,no,9.728299,21,Loved the amenities!,2024,2024Q2,4
747,PROP000748,Sarjapur Road,Project_247,Embassy,-1.0,3BHK,9.448331,Primary,Other,2023-12-31,...,5.982552,Ready to move,Online,yes,8.384907,57,Loved the amenities!,2023,2023Q4,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99443,PROP099444,Kanakapura Road,Project_443,Godrej,-1.0,4BHK,10.099733,Secondary,CXO,2024-06-30,...,9.818244,Ready to move,Direct,no,6.934660,105,Agent was not responsive.,2024,2024Q2,4
99483,PROP099484,Electronic City,Project_483,Total Environment,-1.0,4BHK,10.524345,Secondary,Other,2024-12-31,...,5.819123,Launch,Direct,yes,7.838773,46,Great value for money.,2024,2024Q4,4
99494,PROP099495,Sarjapur Road,Project_494,L&T Realty,-1.0,3BHK,12.019192,Secondary,NRI,2024-09-30,...,5.278620,Ready to move,Online,yes,9.560632,85,Great view from 15th floor.,2024,2024Q3,3
99754,PROP099755,Electronic City,Project_254,Tata Housing,-1.0,3BHK,13.815716,Secondary,Startup Founder,2023-12-31,...,7.898360,Launch,Broker,yes,9.109356,93,Great value for money.,2023,2023Q4,3
99959,PROP099960,Bellary Road,Project_459,Prestige,-1.0,4BHK,13.960474,Secondary,HNI,2023-12-31,...,8.969364,Launch,Online,yes,9.832437,112,Will buy after possession.,2023,2023Q4,4

In [60]:
df['unit_size_sqft'] = df['unit_size_sqft'].replace(-1, np.nan)

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100000 entries, 0 to 99999
Data columns (total 21 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   property_id           100000 non-null  object
 1   micro_market          100000 non-null  object
 2   project_name          100000 non-null  object
 3   developer_name        100000 non-null  object
 4   unit_size_sqft        89543 non-null   float64
 5   configuration         100000 non-null  object
 6   ticket_price_cr       90087 non-null   float64
 7   transaction_type      100000 non-null  object
 8   buyer_type            100000 non-null  object
 9   purchase_quarter      100000 non-null  datetime64[ns]
 10  connectivity_score    100000 non-null  float64
 11  amenity_score         90000 non-null   float64
 12  possession_status     100000 non-null  object
 13  sales_channel         100000 non-null  object
 14  nri_buyer             100000 non-null  object
 15  locality_infra_score  100000 non-null  float64
 16  avg_traffic_time_min  100000 non-null  int64
 17  buyer_comments        81901 non-null   object
 18  year                  100000 non-null  int32
 19  quarter               100000 non-null  object
 20  bhk_count             100000 non-null  int64
dtypes: datetime64[ns](1), float64(5), int32(1), int64(2), object(12)
memory usage: 16.4+ MB

In [63]:
df['unit_size_sqft'] = (
    df.groupby('bhk_count')['unit_size_sqft'].transform(lambda x: x.fillna(x.median()))
)

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100000 entries, 0 to 99999
Data columns (total 21 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   property_id           100000 non-null  object
 1   micro_market          100000 non-null  object
 2   project_name          100000 non-null  object
 3   developer_name        100000 non-null  object
 4   unit_size_sqft        100000 non-null  float64
 5   configuration         100000 non-null  object
 6   ticket_price_cr       90087 non-null   float64
 7   transaction_type      100000 non-null  object
 8   buyer_type            100000 non-null  object
 9   purchase_quarter      100000 non-null  datetime64[ns]
 10  connectivity_score    100000 non-null  float64
 11  amenity_score         90000 non-null   float64
 12  possession_status     100000 non-null  object
 13  sales_channel         100000 non-null  object
 14  nri_buyer             100000 non-null  object
 15  locality_infra_score  100000 non-null  float64
 16  avg_traffic_time_min  100000 non-null  int64
 17  buyer_comments        81901 non-null   object
 18  year                  100000 non-null  int32
 19  quarter               100000 non-null  object
 20  bhk_count             100000 non-null  int64
dtypes: datetime64[ns](1), float64(5), int32(1), int64(2), object(12)
memory usage: 16.4+ MB

In [65]:
df['connectivity_score'].fillna(df['connectivity_score'].median(), inplace=True)
df['amenity_score'].fillna(df['amenity_score'].median(), inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_17108\206431910.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['connectivity_score'].fillna(df['connectivity_score'].median(), inplace=True)
C:\Users\User\AppData\Local\Temp\ipykernel_17108\206431910.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['amenity_score'].fillna(df['amenity_score'].median(), inplace=True)

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100000 entries, 0 to 99999
Data columns (total 21 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   property_id           100000 non-null  object
 1   micro_market          100000 non-null  object
 2   project_name          100000 non-null  object
 3   developer_name        100000 non-null  object
 4   unit_size_sqft        100000 non-null  float64
 5   configuration         100000 non-null  object
 6   ticket_price_cr       90087 non-null   float64
 7   transaction_type      100000 non-null  object
 8   buyer_type            100000 non-null  object
 9   purchase_quarter      100000 non-null  datetime64[ns]
 10  connectivity_score    100000 non-null  float64
 11  amenity_score         100000 non-null  float64
 12  possession_status     100000 non-null  object
 13  sales_channel         100000 non-null  object
 14  nri_buyer             100000 non-null  object
 15  locality_infra_score  100000 non-null  float64
 16  avg_traffic_time_min  100000 non-null  int64
 17  buyer_comments        81901 non-null   object
 18  year                  100000 non-null  int32
 19  quarter               100000 non-null  object
 20  bhk_count             100000 non-null  int64
dtypes: datetime64[ns](1), float64(5), int32(1), int64(2), object(12)
memory usage: 16.4+ MB

In [67]:
df.isnull().sum()

property_id                 0
micro_market                0
project_name                0
developer_name              0
unit_size_sqft              0
configuration               0
ticket_price_cr          9913
transaction_type            0
buyer_type                  0
purchase_quarter            0
connectivity_score          0
amenity_score               0
possession_status           0
sales_channel               0
nri_buyer                   0
locality_infra_score        0
avg_traffic_time_min        0
buyer_comments          18099
year                        0
quarter                     0
bhk_count                   0
dtype: int64

In [68]:
df['ticket_price_cr'] = (
    df.groupby(['micro_market', 'bhk_count'])['ticket_price_cr'].transform(lambda x: x.fillna(x.median()))
)

In [69]:
df.isnull().sum()

property_id                 0
micro_market                0
project_name                0
developer_name              0
unit_size_sqft              0
configuration               0
ticket_price_cr             0
transaction_type            0
buyer_type                  0
purchase_quarter            0
connectivity_score          0
amenity_score               0
possession_status           0
sales_channel               0
nri_buyer                   0
locality_infra_score        0
avg_traffic_time_min        0
buyer_comments          18099
year                        0
quarter                     0
bhk_count                   0
dtype: int64

In [70]:
df.head()

,property_id,micro_market,project_name,developer_name,unit_size_sqft,configuration,ticket_price_cr,transaction_type,buyer_type,purchase_quarter,...,amenity_score,possession_status,sales_channel,nri_buyer,locality_infra_score,avg_traffic_time_min,buyer_comments,year,quarter,bhk_count
0,PROP000001,Sarjapur Road,Project_0,RMZ,4025.0,4BHK,12.750846,Primary,NRI,2025-03-31,...,5.462863,Launch,Broker,yes,9.212491,18,Loved the amenities!,2025,2025Q1,4
1,PROP000002,Indiranagar,Project_1,Puravankara,5760.0,3BHK,16.292152,Primary,Other,2024-06-30,...,7.499766,Under construction,NRI Desk,no,7.723898,106,NaN,2024,2024Q2,3
2,PROP000003,Bannerghatta Road,Project_2,Tata Housing,7707.0,4BHK,10.517724,Primary,HNI,2023-12-31,...,8.669227,Ready to move,Direct,yes,6.985493,113,Agent was not responsive.,2023,2023Q4,4
3,PROP000004,Bellary Road,Project_3,Embassy,6192.0,3BHK,9.396367,Primary,HNI,2024-03-31,...,5.720246,Ready to move,Online,yes,6.100929,106,Excellent location!,2024,2024Q1,3
4,PROP000005,Koramangala,Project_4,SNN Raj,7147.0,4BHK,15.345392,Secondary,HNI,2024-12-31,...,8.609649,Under construction,Broker,no,5.312510,18,Too far from my office.,2024,2024Q4,4

In [2]:
import pandas as pd
from sqlalchemy import create_engine,inspect,text

In [ ]:
engine = create_engine("mysql+pymysql://root:raju1096@localhost")

In [ ]:
query = "CREATE DATABASE housing"

with engine.connect() as conn:
    conn.execute(text(query))
    conn.commit()

In [87]:
df.to_csv('Housing_sales_cleaned.csv',index=False)

In [72]:
inspect(engine).get_schema_names()

['housing',
 'information_schema',
 'mysql',
 'performance_schema',
 'phonepe',
 'sakila',
 'sys',
 'world']

In [3]:
engine = create_engine("mysql+pymysql://root:raju1096@localhost/housing")

In [74]:
df.to_sql('sales',engine,index=False)

100000

In [75]:
inspect(engine).get_table_names()

['sales']

In [4]:
query="""SELECT * FROM sales LIMIT 10"""
df1=pd.read_sql(query,engine)
df1.head()

,property_id,micro_market,project_name,developer_name,unit_size_sqft,configuration,ticket_price_cr,transaction_type,buyer_type,purchase_quarter,...,amenity_score,possession_status,sales_channel,nri_buyer,locality_infra_score,avg_traffic_time_min,buyer_comments,year,quarter,bhk_count
0,PROP000001,Sarjapur Road,Project_0,RMZ,4025.0,4BHK,12.750846,Primary,NRI,2025-03-31,...,5.462863,Launch,Broker,yes,9.212491,18,Loved the amenities!,2025,2025Q1,4
1,PROP000002,Indiranagar,Project_1,Puravankara,5760.0,3BHK,16.292152,Primary,Other,2024-06-30,...,7.499766,Under construction,NRI Desk,no,7.723898,106,None,2024,2024Q2,3
2,PROP000003,Bannerghatta Road,Project_2,Tata Housing,7707.0,4BHK,10.517724,Primary,HNI,2023-12-31,...,8.669227,Ready to move,Direct,yes,6.985493,113,Agent was not responsive.,2023,2023Q4,4
3,PROP000004,Bellary Road,Project_3,Embassy,6192.0,3BHK,9.396367,Primary,HNI,2024-03-31,...,5.720246,Ready to move,Online,yes,6.100929,106,Excellent location!,2024,2024Q1,3
4,PROP000005,Koramangala,Project_4,SNN Raj,7147.0,4BHK,15.345392,Secondary,HNI,2024-12-31,...,8.609649,Under construction,Broker,no,5.312510,18,Too far from my office.,2024,2024Q4,4

In [81]:
query="""SELECT count(*) AS Total_Rows FROM sales LIMIT 10"""
df1=pd.read_sql(query,engine)
df1

   Total_Rows
0      100000

In [83]:
query="""SELECT possession_status, count(*) as No_of_properties FROM sales GROUP BY possession_status"""
df1=pd.read_sql(query,engine)
df1

    possession_status  No_of_properties
0              Launch             33341
1  Under construction             33410
2       Ready to move             33249

In [12]:
query="""SELECT developer_name, avg(ticket_price_cr) as Avg_price_cr, count(*) as bookings_count FROM sales GROUP BY developer_name"""
df1=pd.read_sql(query,engine)
df1

       developer_name  Avg_price_cr  bookings_count
0                 RMZ     12.661859            9009
1         Puravankara     12.664104            9077
2        Tata Housing     12.597861            8933
3             Embassy     12.539554            9075
4             SNN Raj     12.554866            9224
5             Brigade     12.536127            9135
6            Prestige     12.657120            9224
7   Total Environment     12.749653            9116
8              Godrej     12.690894            9123
9          L&T Realty     12.718018            9126
10              Sobha     12.798420            8958

In [8]:
query="""SELECT micro_market, avg(ticket_price_cr) as Avg_price_cr FROM sales GROUP BY micro_market ORDER BY Avg_price_cr DESC """
df1=pd.read_sql(query,engine)
df1

         micro_market  Avg_price_cr
0       Sarjapur Road     12.846516
1              Hebbal     12.762858
2         Hennur Road     12.697240
3             Mg Road     12.685960
4   Bannerghatta Road     12.674814
5         Koramangala     12.670984
6           Jayanagar     12.662375
7            Jp Nagar     12.655059
8           Yelahanka     12.624063
9        Bellary Road     12.607906
10        Rajajinagar     12.603874
11         Whitefield     12.603785
12        Indiranagar     12.601273
13    Kanakapura Road     12.583126
14    Electronic City     12.571036
15             Domlur     12.568282

In [11]:
query="""SELECT quarter, count(*) as booking_count FROM sales GROUP BY quarter ORDER BY quarter """
df1=pd.read_sql(query,engine)
df1

  quarter  booking_count
0  2023Q2          12541
1  2023Q3          12491
2  2023Q4          12412
3  2024Q1          12635
4  2024Q2          12479
5  2024Q3          12573
6  2024Q4          12466
7  2025Q1          12403